p.{
    font-size: 20px
}

h1 {
    color: green;
    font-size: 60px;
    font-weight: bold;
}

.speaker {
    color: blue;
    font size: 25;
    font-weight: bold;
}
.text {
    color: black;
    text-indent: 20px;
}